//yarn add @babel/plugin-transform-async-to-gerenator -D
//yarn add @babel/polyfill -D

{
  "presets": ["@babel/preset-env"],
  "plugins":[
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",

  ]
}